.action-btn-wrapper {
  position: relative;
  display: inline-block;
}

.action-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: var(--color-accent-lighter);
  border: 1px solid rgba(244, 244, 247, 0.3);
  box-sizing: border-box;
  border-radius: var(--gap-size-1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 0;
}

.action-dropdown-item {
  display: flex;
  background-color: transparent;
}

.action-dropdown-item:hover {
  background-color: var(--color-hover);
  width: 100%;
}

button {
  color: var(--color-deep-blue);
  padding: var(--gap-size-1) var(--gap-size-3);
  border-radius: 8px;
  border: none;
  font-size: var(--text-size-2);
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
}
