.AbstractSubmissionCallForPapers_reel {
  color: var(--accent);

  label {
    font-weight: bold;
  }
}
.AbstractSubmissionCallForPapers_reel {
  background-color: var(--accent);
  border-radius: 5px;
  padding: 1px;
  margin: 0;
}

.AbstractSubmissionCallForPapers_cfp {
  background: var(--gray-100);
  border-radius: 3px;
  margin: 1px;
  padding: 10px;
  margin-bottom: 3px;
}
