.Footer_logoLink,
.Footer_logoLinkDeGruyter{
  text-decoration: none;
  box-shadow: none;
  display: block;
  &:hover{
    box-shadow: none;
  }
}

.Footer_logoLinkDeGruyter{
  margin-top: 20px;
  margin-left: 5px;
  width: 140px;
}

@media (min-width: 768px) {
  .Footer_logoLink {
    position: absolute;
  }
  .Footer_logoLinkDeGruyter{
    margin-top: 0;
    margin-left: 350px;
    width: 200px;
  }
}
