#Header_background {
  transition: background-color 1s ease-in-out;
  display: none;
}

.Navbar {
  padding: 0 var(--spacer-3);
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.BrandImage {
  background: var(--primary);
  height: 70px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .BrandImage {
    width: 70px;
  }
}
// header.active #Header_background{
//   // box-shadow: 0 0 .5rem var(--gray-500) !important;
//   // border-bottom: 1px solid var(--gray-300);
//   // background-color: white !important;
//   border-bottom: 1px solid var(--dark);
//   box-shadow: 1px 1px 0 var(--primary);
// }
$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  #Header_background {
    display: block;
    left: 0;
    z-index: 2;
    top: 0;
    height: 100px;
    width: 100%;
  }
  .BrandImage {
    // border-left: 2px solid var(--primary);
    background-color: transparent;
  }
  .Navbar {
    // position: relative;
    padding: var(--spacer-3);
    // background: linear-gradient(180deg, rgba(255,255,255,1) -100%, rgba(255,255,255,0) 100%);
  }
  .MobileHeaderNav,
  .MobileHeaderBrand {
    display: none;
  }
}

.MobileHeaderNav {
  top: 0;
  width: 50px;
  height: 25px;
  position: fixed;
  width: 100%;
  z-index: 1030;
}

.MobileHeaderBrand {
  position: absolute;
  left: var(--spacer-3);
  top: var(--spacer-3);
  right: var(--spacer-3);
  line-height: 40px;
  // font-family: var(--font-family-monospace);
  font-weight: bold;
  box-shadow: none;
  padding: 0;
  color: var(--secondary);
  padding-bottom: var(--spacer-3);
}

.MobileHeaderToggler {
  position: absolute;
  z-index: 100;
  width: auto;
  height: 40px;
  width: 90px;
  font-size: 14px;
  margin-left: -15px;
  top: var(--spacer-3);
  right: var(--spacer-3);
  background-color: var(--secondary);
  border-radius: 40px;
  color: white;
  font-weight: bold;
  padding-left: 15px;
  line-height: 40px;
  padding-right: 15px;
  text-align: left;
  will-change: width;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.85, 0, 0.15, 1);

  .Logo {
    position: absolute;
    background-color: var(--primary);
    top: 5px;
    left: 90px;
    height: 30px;
    width: 40px;
    border-radius: 20px;
    svg {
      margin-left: 5px;
      margin-top: 5px;
    }
  }
}
header.active .MobileHeaderToggler {
  width: 135px;
}

.MobileHeaderMenu {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100%;
  will-change: transform;
  left: 0;
  top: 0;
  color: var('--white');
  background-color: var(--secondary);
  transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);

  h1 {
    font-size: inherit;
    font-family: var(--font-family-monospace);
    font-weight: bold;
    color: var(--primary);
  }

  .nav-link.active {
    color: var(--primary);
  }
}

.MobileHeaderNavItem {
  color: var(--white);
  border-left: 1px solid var(--white);
}

.RowHeader .navbar-brand span {
  font-size: 0.9em;
}

.NavPrimaryRoutes .nav-link > span {
  font-size: 0.9em;
  padding-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  &::before {
    top: 25px;
  }
}

.NavPrimaryRoutes .nav-link > span {
  display: block !important;
  max-width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0.5rem !important;
}

.NavPrimaryRoutes {
}

@media (min-width: 1200px) {
  .NavPrimaryRoutes .nav-link > span {
    max-width: auto;
    overflow: normal;
    text-overflow: none;
    white-space: nowrap;
    font-size: 1em;
  }
}
