.HomeReel{
  .HomeReel_item{
    border: 2px solid var(--secondary);
    // border-radius: 4px;
    will-change: border-color;
    transition: border-color 1s cubic-bezier(0.85, 0, 0.15, 1);

  }

  .HomeReel_btn{
    color: var(--white);
    background-color: var(--secondary);
    will-change: color, background-color;
    transition: all 1s cubic-bezier(0.85, 0, 0.15, 1);

  }
  h2, p, a, .icon > svg {
    color: var(--secondary);
    will-change: color;
    transition: color 1s ease-in-out;
  }
  .slick-slide{
    -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  .slick-active {
    .HomeReel_item{
      border-color: var(--accent);
    }
    h2, p, a, .icon > svg  {
      color: var(--accent);
    }
    a{
      box-shadow: 0px 1px 0px var(--accent);
    }
    .HomeReel_btn{
      color: var(--white);
      background-color: var(--accent);
      box-shadow: none;
    }
  }
  .slick-dots li button::before{
    color: var(--secondary);
    opacity: .5;

  }
  .slick-dots li.slick-active button::before{
    color: var(--accent);
    opacity: 1;
  }
}
