/* TABLE STYLES */
.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  font-size: var(--text-size-2);
  text-align: left;
  vertical-align: top;
}

/* ROW STYLES */
.table tr {
  vertical-align: top;
}

.table tbody tr:hover {
  background-color: var(--color-hover);
}

/* HEADER STYLES */
.table th {
  color: var(--color-gray);
  font-weight: 600;
  font-size: var(--text-size-3);
}

/* CELL STYLES */
.table td {
  color: var(--color-gray);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

/* abstract__title is the title of the article and title is the title of the abstract */
td.name,
& td.title,
& td.abstract__title {
  font-weight: 600;
}
