.smalltable {
  width: 100%;
  table-layout: fixed;
  border-spacing: var(--gap-size-3);
  border-collapse: separate;
}

.smalltable th,
.smalltable td {
  font-size: var(--text-size-2);
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

/* ROW STYLES */
.smalltable tr {
  vertical-align: top;
}

.smalltable td.title:hover {
  background-color: var(--color-hover);
}

/* HEADER STYLES */
.smalltable th {
  color: var(--color-gray-lighter);
  font-weight: 200;
  font-size: var(--text-size-3);
}

th.smalltable-callpaper_title,
th.smalltable-author {
  width: 20%;
}

th.smalltable-submitted_date,
td.smalltable-submitted_date {
  width: 22%;
}

/* CELL STYLES */
.smalltable td {
  color: var(--color-gray);
}

/* abstract__title is the title of the article and title is the title of the abstract */
td.smalltable-name,
& td.smalltable-title,
& td.smalltable-abstract__title {
  font-weight: 600;
  color: var(--color-deep-blue);
}
/* 
th.smalltable-author,
th.smalltable-callpaper_title {
  display: none;
} */

/*Tablet or small screen view */
@media screen and (max-width: 1500px) {
  th.smalltable-callpaper_title,
  td.smalltable-callpaper_title {
    display: none;
  }
}

/* Mobile view */
@media screen and (max-width: 767px) {
  th.smalltable-callpaper_title,
  th.smalltable-submitted_date,
  td.smalltable-callpaper_title,
  td.smalltable-submitted_date {
    display: none;
  }
}
