.ArticleCellFigure.with-aspect-ratio figure {
  position: relative;
  overflow: 'hidden';
  height: 0;

  .ArticleCellOutputs {
    position: absolute;
    top: 0;
  }
}

.ArticleCellFigure_picture {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;

  &.with-cover {
    background-size: cover;
  }
}
