build/
node_modules
.DS_Store
*.log
.netlify
.eslintcache
.development.env
.env.development
.turbo
.vscode/settings.json
.yalc/*
yalc.lock
storybook-static
# _redirects
journal-of-digital-history.code-workspace

*storybook.log
