build/
node_modules
.DS_Store
*.log
.netlify
.eslintcache
.development.env
.env.development
.vscode/settings.json
.yalc/*
yalc.lock
storybook-static
# _redirects
journal-of-digital-history.code-workspace

*storybook.log

# Yarn not PnP
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
.yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions