build/
node_modules
.DS_Store
*.log
.netlify
.eslintcache
.env
.development.env
.env.development
.vscode/settings.json
.yalc/*
yalc.lock
storybook-static
# _redirects
journal-of-digital-history.code-workspace
