.github-icon {
  width: 20px;
  height: 20px;
  margin: var(--gap-size-1);
}
.mybinder-icon,
.preview-icon,
.mydjango-icon,
.link-icon {
  width: 24px;
  height: 24px;
  margin: var(--gap-size-1);
}

.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-size-1);
  padding: var(--space-size-0);
}

.link-container:hover {
  background-color: var(--color-accent-lighter);
  border-radius: 16px;
}

.link-content {
  display: flex;
  align-items: center;
  gap: var(--gap-size-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}
