.mask{
  position: absolute;
}
.mask_narrative{
  composes: mask;
}
.mask_hermeneutics{
  composes: mask;
  background-color: #B1FBEC;
}

.push{
  /* equals the top header */
  height: 100px;
}
.pushFixed{
  position: fixed;
  background-color: red;
  top: 0;
  height: 100px;
  width:100%;
  z-index:1;
}

.pushFixed_narrative{
  composes: pushFixed;
  background-color: rgb(244, 241, 248);
}
.pushFixed_hermeneutics{
  composes: pushFixed;
  background-color: #B1FBEC;
}

.anchor{
  position: relative;
}
.placeholder{
  max-height: 200px;
  overflow: hidden;
}
.placeholderGradient{
  position: absolute;
  z-index:0;
  bottom: 0;
  pointer-events: none;
  left: 0;
  right:0;
  top: 0;
  background: transparent
}
.placeholderButton{
  position: absolute;
  z-index: 0;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  bottom: var(--spacer-3);
}

.placeholder_narrative_hermeneutics {
  composes: placeholder;
  color: var(--primary-dark);
}
.placeholder_hermeneutics_narrative {
  composes: placeholder;
  color: var(--dark);
}

.placeholderGradient_narrative_hermeneutics{
  composes: placeholderGradient;
  background: linear-gradient(180deg, rgb(244, 241, 248, 0.4) 0%, rgb(244, 241, 248, 1) 90%);
}
.placeholderGradient_hermeneutics_narrative{
  composes: placeholderGradient;
  background: linear-gradient(180deg, #B1FBEC99 0%, #B1FBECff 90%);
}

.placeholderActive {
  position: absolute;
  left: 5px;
  width: 2px;
  background: transparent;
  height: 100%;
  z-index: 0;
  top: 0;
}
.placeholderActive_on, .cellActive_on{
  composes: placeholderActive;
  background: var(--dark);
}
.placeholderActive_off, .cellActive_off{
  composes: placeholderActive;
  background: transparent;
}
/* .placeholder_narrative_hermeneutics:hover .placeholderGradient{
  background: linear-gradient(180deg, #e9e6ec00 0%, #e9e6ecff 70%);
} */



  /* &.hermeneutics-narrative{
    background-color: #6cfde9;
    color: #419d90;
    .ArticleLayer_placeholder_bg{
      background: linear-gradient(180deg, #6cfde900 0%, #6cfde9ff 70%);
    }
  }
} */
