.status-button-container {
  position: relative;
}

.status-button-btn {
  display: flex;
  background-color: transparent;
  border: 1px solid rgba(244, 244, 247, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  margin: 0;
  padding: var(--gap-size-0);
  align-items: center;
}

.status-cell {
  margin-right: var(--gap-size-1);
}
