.me {
  position: fixed;
  right: 0;
  width: 16%;
  z-index: 1031;
  height: var(--header-height);

  align-items: center;
  justify-content: end;
  text-align: start;
  padding-right: var(--spacer-4);
  font-size: smaller;
  display: none;
}

.me > div {
  margin: 0;
  margin-left: 2rem;
  padding-left: var(--spacer-3);
  position: relative;
  line-height: 1.5em;
}

.me-dropdown-button {
  font-weight: bold;
  display: block;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-shadow: none;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
}

.me-avatar {
  position: absolute;
  left: -2rem;
  width: 2rem;
  min-width: 2rem;
  top: 50%;
  margin-top: -1rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid;
}

.me-dropdown-menu {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: -40%;
  margin-top: var(--spacer-3);
  padding: var(--spacer-2);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  border: 1px solid var(--dark);
  border-radius: 3px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  a {
    box-shadow: none !important;
    font-size: 1em;
    padding: var(--spacer-1) 0;
  }

  a:hover {
    font-weight: bold;
  }

  a:hover svg,
  a:hover svg * {
    stroke-width: 2;
    transition: stroke-width 120ms ease;
  }
}

/* media query for medium to xxxl screen */
@media (min-width: 768px) {
  .me {
    display: flex;
    width: 10%;
  }
}

@media (min-width: 992px) {
  .me {
    display: flex;
    width: 16%;
  }
}
