.large-action-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.large-action-btn {
  --btn-bg: transparent;
  --btn-color: var(--color-accent);
  --btn-border: var(--color-accent);
  --btn-bg-hover: var(--color-accent);
  --btn-color-hover: var(--color-white);
  --btn-border-hover: var(--color-accent);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  border: 1px solid var(--btn-border);
  border-radius: 30px;
  color: var(--btn-color);
  background: var(--btn-bg);
  padding: var(--space-size-1-1) var(--space-size-3);
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
}

.large-action-btn:hover {
  background: var(--btn-bg-hover);
  color: var(--btn-color-hover);
  border-color: var(--btn-border-hover);
}

.active {
  color: var(--btn-color);
}

.inactive {
  color: var(--color-gray);
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  border: 0;
}
