.large-action-btn-wrapper {
  color: var(--color-deep-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  border: 0;
  border-radius: 10px;
  background: var(--color-accent-lighter);
  padding: var(--space-size-1) var(--space-size-2);
  position: relative;

  margin-right: var(--gap-size-4);
}

.large-action-icon {
  width: 24px;
  height: 24px;
}

.large-action-btn-wrapper.active:hover {
  color: var(--color-accent);
}
.large-action-icon.active {
  color: var(--color-accent);
}

.large-action-btn-wrapper.inactive {
  cursor: not-allowed;
  opacity: 0.5;
}
