@use 'sass:math';

// Override variables:
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// following doc
// https://getbootstrap.com/docs/4.5/getting-started/theming/
$theme-colors: (
  'primary': #51f6e0,
  // before #00f5d4,
  'secondary': #222322,
  'gray': #ececec,
  'accent': #5e2bff,
  'accent-light': lighten(#5e2bff, 20%),
  'accent-dark': darken(#5e2bff, 10%),
  'dark': #1e152a,
);

// accent tested:
// 9b5de5
// f15bb5
// fee440
// F68E5F

$grid-breakpoints: (
  xs: 0,
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$body-color: #000; // #003325; // #00b37f;

$font-family-sans-serif: 'Fira Sans', system-ui, -apple-system, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-serif: 'Source Serif Pro', Georgia, serif;
$font-family-monospace: 'Fira Code', monospace;

$font-size-base: 1rem;
$line-height-base: 1.75;
$border-radius: 0.1rem;

$navbar-dark-color: white;
$navbar-dark-hover-color: map-get($theme-colors, 'primary');
$navbar-dark-active-color: map-get($theme-colors, 'primary');
$navbar-padding-y: 1rem;
$navbar-nav-link-padding-x: 1rem;

$nav-link-margin-y: 1rem;
$nav-link-margin-x: 1rem;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: math.div($spacer, 4),
  2: math.div($spacer, 2),
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
  10: $spacer * 10.5,
) !default;
