// Override variables:
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// following doc
// https://getbootstrap.com/docs/4.5/getting-started/theming/
$theme-colors: (
  'primary': #00b37f,
  'secondary': #222322,
  'gray': #ececec,
);

$grid-breakpoints: (
  xs: 0,
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$body-color: #00b37f;

$font-family-sans-serif: 'Fira sans', system-ui, -apple-system, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

$border-radius: 0;

$navbar-dark-color: white;
$navbar-dark-hover-color: map-get($theme-colors, 'primary');
$navbar-dark-active-color: map-get($theme-colors, 'primary');
$navbar-padding-y: 1rem;
$navbar-nav-link-padding-x: 1rem;

$nav-link-padding-y: 1rem;
$nav-link-padding-x: 1rem;
