$breakpoint-tablet: 768px;
$breakpoint-lg: 992px;

.ArticleCellContent {
  position: relative;
}

.ArticleCellContent blockquote {
  border-left: var(--spacer-1) solid;
  padding-left: var(--spacer-4);
  margin-left: var(--spacer-4);
}

.ArticleCellContent_num {
  position: absolute;
  left: -50px;
  width: 30px;
  text-align: right;
  font-family: var(--font-family-monospace);
  color: var(--gray-500);
  font-weight: bold;

  font-size: 12px;
  top: 4px;
  will-change: color;
  transition: color .25s ease-in-out;

  &.level_H2{
    top: 14px;
  }
  &.level_H3, &.level_H4, &.level_H5, &.level_H6{
    top: 21px;
  }
}

.ArticleCellContent_idx {
  position: absolute;
  left: -35px;
  width: 20px;
  text-align: right;
  font-family: var(--font-family-monospace);
  font-weight: 700;
  color: var(--dark);
}

.ArticleCellQuote{
  font-size: var(--font-size-2);
  blockquote{
    border-left-width: 0;
    margin-left: 0;
    padding-left: 0;
    color: var(--gray-600);
  }
}

.ArticleHeader{
  margin-top: 100px;
}

.ArticleHeader_contributor h3 a{
  box-shadow: none;
}
@media (min-width: $breakpoint-tablet) {
  .ArticleHeader{
    margin-top: 0px;
  }
}

.ArticleHeader h1{
  font-family: var(--font-family-sans-serif) !important;
}
.ArticleHeader_abstract{
  font-size: var(--font-size-2);
}

.ArticleStream_paragraph{

  position: relative;
  border-left: 1px solid transparent;
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);

  h2,h3,h4{
    margin-top: var(--spacer-3);
    margin-bottom: 0;
  }

  h3, h4{
    font-family: var(--font-family-monospace);
    font-weight: bold;
    font-size: inherit;
  }

  &::after {
    content: '';
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 1px;
    background-color: transparent;
    z-index: 0;
  }

  &.active .ArticleCellContent_num {
    color: var(--secondary);
  }

  // &.active::after{
  //   background-color: var(--secondary);
  // }
}

.ArticleStream_paragraph.hermeneutics .ArticleCellContent p{
  color: var(--accent);
}
@media (min-width: $breakpoint-lg) {
  .ArticleStream_paragraph.hermeneutics {
    overflow-x: hidden;
    .container{
      transform: translate3d(8%, 0, 0)
    }
  }
}


.ArticleText_toc{
  z-index:1031;
  pointer-events: none;
  position: fixed;
  right: 0;
}
@media (min-width: $breakpoint-lg) {
  .ArticleText_toc{
    width: 16%;
  }
}


.ArticleToc_Level_P,.ArticleToc_Level_CODE{
  &.ArticleToc_afterNextHeading,
  &.ArticleToc_beforePreviousHeading{
    height: 1px;
    border-top-width: 0;
  }
  &.ArticleToc_beforeNextHeading{
    height: 5px;
  }
}
.ArticleToc_Level_H1{
  margin-left: var(--negative-spacer-4);
  width: 10px;
  height: 10px;
}
//
.ArticleToc_Level_H2{
  margin-left: var(--negative-spacer-3);
  width: 10px;
  height: 10px;
}
//
.ArticleToc_Level_H3,
.ArticleToc_Level_H4{
  margin-left: var(--negative-spacer-2);

}

.ArticleToc_Type_code{
  border-radius: 0;
  // transform: rotate(45deg);
  border: 1px solid var(--accent);
}

.ArticleToc_References{
  background-color: var(--secondary);
  width: var(--spacer-1);
  height: var(--spacer-1);
  border-radius: var(--spacer-1);
}


.ArticleToc_Heading, .ArticleToc_Figure{

  text-align: right;
  right: var(--spacer-3);
  top: var(--negative-spacer-1);
  line-height: 15px;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 120px;
  white-space: nowrap;
  &:hover{
    text-decoration: underline;
  }
  &.active{
    font-weight: bold;
    // width: 200px;
    // text-overflow:ellipsis;
    // overflow:auto;
    // white-space: normal;
  }
}

.ArticleReference_num{
  display: none;
}

// .ArticleReference{
//   margin-left: var(--spacer-1);
//   margin-right: var(--spacer-2);
// }

.ArticleReference_shortRef{
  // font-weight: bold;
  // font-family: var(--font-family-monospace);
  display: inline-block;
  color: var(--gray-600);
  cursor: pointer;
  > a{
    box-shadow: 0px 1px 0px var(--gray-600);
  }
  &:hover{
    color: var(--secondary);
    > a{
      box-shadow: 0px 1px 0px var(--secondary);
    }
  }
}
// .ArticleReference_shortRef::before{
//   content:"(";
// }
// .ArticleReference_shortRef::after{
//   content:")";
// }
.ArticleReference_pointer{
  // position: absolute;
  // left: var(--negative-spacer-4);
  // // border-top: 1px solid var(--secondary);
  // // border-bottom: 1px solid var(--secondary);
  // height: 6px;
  // width: 6px;
  // border-radius: 6px;
  // border: 1px solid var(--secondary);
  // background-color: var(--primary);
  // margin-top: var(--line-height-1-m);
}

.ArticleCellVisualisation {
  will-change: opacity;
  transition: opacity .6s ease-in-out;
}

.ArticleCellVisualisation_step {
  color: var(--dark);
  will-change: opacity;
  transition: opacity .6s ease-in-out;
  opacity: 0;
  &.active{
    opacity: 1
  }
}

.ArticleCellOutput.withHTML {
  width: 100%;
  overflow: scroll;
  max-width: 100%;
}

.ArticleCellOutput table, .ArticleCellFigure table{
  font-size: .8em;
  // .table-striped
  border: 0;
  border: 1px solid var(--gray-400);
  // border-bottom: 1px solid var(--gray-400);
  background-color: var(--gray-100);
  caption{
    display: none;
  }

  tbody tr:nth-of-type(odd) {
    background-color: var(--gray-200);
  }
  td, th{
    padding: var(--spacer-2);
  }
}

.ArticleCellFigure img{
  max-width: 100%;
}
// .ArticleCellOutput_display_data {
//   background-color: var(--gray-200);
// }
.ArticleCellOutput_display_data img{
  max-width: 100%;
}

.ArticleCellOutput_display_data .label,
.ArticleCellOutput_execute_result .label,
.ArticleCellOutput_stream .label,
.ArticleCellSourceCode_no_output{
  background:  var(--gray-300);
  display: inline-block;
  padding: var(--spacer-0) var(--spacer-2);
  font-weight: bold;
}
.ArticleCellOutput_display_data .label:before,
.ArticleCellOutput_execute_result .label:before,
.ArticleCellOutput_stream .label:before{
  content: "↘ ",
}

.ArticleCellContent pre,
.ArticleCellOutput_execute_result pre,
.ArticleCellOutput_stream pre{
  background-color: var(--gray-300);
  padding: var(--spacer-2);
}


.ArticleText.hermeneutics{
  .ArticleText_scrollama{
    // transform: translate3d(-8%, 0, 0);
  }
}

.ArticleNote{
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 50vh;
    display: flex;
    align-items: center;
    background: var(--dark);
    overflow: scroll;
    p{

    color: var(--gray-300);
    }
    transform: translate(0, 15vh);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.85, 0, 0.15, 1);

    &.active{
      transform: translate(0, 0);
    }
}

.ArticleShadowHandle{
  background: var(--dark);
  // border: 1px solid var(--dark);
  z-index: 3;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  touch-action: none;
  position: fixed;
  right: 50px;
  top: 100px;
  cursor: pointer;
  pointer-events: auto;
  touch-events: none;
  transition: background-color .25s ease-in-out;
  & > svg {
    margin-left:15px;
      margin-top:15px;
  }
  & > label{
    opacity: 0;
    position: absolute;
    line-height: 15px;
    font-size: 12px;
    margin-top: 10px;
    text-transform: lowercase;
    font-weight: bold;
    pointer-events: none;
    top: 0;
    right: 60px;
    width: 100px;
    text-align: right;
    transition: opacity .25s ease-in-out;
  }
  &:hover{
    background-color: var(--primary);
    label{
      opacity: 1;
    }
  }
}

.ArticleShadowLayer{
  position: fixed;
  z-index: 2;
  top: 0px;
  pointer-events: none;
}

ArticleShadowLayer_animatedLabel{
  height: 20px;
}

.ArticleFigure{
  min-height: 50px;
  margin-top:  var(--spacer-3);
}

.ArticleFigure_figcaption_num {
  position: absolute;
  left: -140px;
  width: 140px;
  text-align: right;
  padding-right: var(--spacer-3);
  font-family: var(--font-family-monospace);
  font-weight: bold;
}


svg.ArticleFingerprint{

  g.type-code{
    // is type===cell
    line{
      stroke: var(--accent)
    }
    circle{
      stroke: transparent;
      fill: var(--accent);
    }
  }
  g.type-markdown{
    // is type===markdown
    line{
      stroke: var(--gray-500)
    }
    circle{
      fill: var(--gray-700);
      stroke: transparent;
    }
    circle.refs{
      stroke: transparent;
      fill: var(--gray-700);
    }
  }
  g.is-heading{
    circle.origin{
      fill: var(--secondary);
      stroke: transparent;
    }
    circle{
      fill: transparent;
      stroke: var(--secondary);
    }
    circle.heading-placeholder{
      fill: transparent;
      stroke: var(--secondary);
    }
  }
  g.is-hl{
    circle.origin{
      fill: var(--secondary);
      stroke: transparent;
    }
    //isHermeneutic
    circle{
      fill: var(--primary);
      stroke: var(--gray-300);
    }
    line{
      stroke: var(--primary)
    }
  }
  g.is-hl.type-code{
    circle{
      stroke: transparent;
      fill: var(--accent);
    }
    line{
      stroke: var(--accent)
    }
  }
}

.ArticleCellFigure table{
  width: 100%;
}

.ArticleCellAccordionCustomToggle{
  white-space: nowrap;
  border-radius: 15px;
  background: white;
  left: -70px;
  color: var(--primary-dark);
  border-color: var(--primary-dark);
  // &.active{
  //   background-color: var(--white);
  //   border-color: var(--gray-300);
  //   color: var(--dark);
  // }
  &.active{
    border-color: var(--primary-dark);
    background-color: var(--primary-dark);
  }
  &.active:focus{
    box-shadow: 0 0 0 0.25rem rgba(34, 35, 34, 0.25)
  }
  &:hover{
    color: var(--white);
    border-color: var(--primary-dark);
    background-color: var(--primary-dark);
  }
}

// .ArticleToC{
//   transition: transform 0.5s cubic-bezier(0.85, 0, 0.15, 1);
//
// }
.ArticleToCStep{
  position: relative;
  font-size: .8em;
  height: 20px;
  pointer-events: auto;

  label{
    position: absolute;
    top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    line-height: 20px;
    width: 100%;
    cursor: pointer;
  }

  &:hover label{
    text-decoration: underline;
  }
}

// all headings icons mus be moved to the left
.ArticleToCStep_Level_H1,
.ArticleToCStep_Level_H2,
.ArticleToCStep_Level_H3,
.ArticleToCStep_Level_H4,
.ArticleToCStep_Level_H5,
.ArticleToCStep_Level_H6 {
  cursor: pointer;
}

.ArticleToCStep_icon {
  position: absolute;
  right: -24px;
  top: 0;
  svg{
    position:absolute;
    top: 5px;
    left: -6px;
  }
  &::before{
    position: absolute;
    left: 0px;
    height: 6px;
    top: 0;
    width: 1px;
    background-color: var(--dark);
    content: '';
  }
  &::after{
    position: absolute;
    left: 0px;
    height: 6px;
    top: 17px;
    width: 1px;
    background-color: var(--dark);
    content: '';
  }
}


.ArticleToCStep_icon_circle{
  position: absolute;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid;
  border-radius: 10px;
}

.ArticleToCStep_Level_H2{
  margin-top: 20px;
  margin-bottom: 10px;
  .ArticleToCStep_icon::after{
    top: 17px;
    height: 14px;
  }
  .ArticleToCStep_icon_circle{
    width: 15px;
    height: 15px;
    top: 3px;
    left: -7px;
  }
}

.ArticleToCStep_Level_H3 {
  .ArticleToCStep_icon::before{
    top: 0px;
    height: 7px;
  }
  .ArticleToCStep_icon::after{
    top: 14px;
  }
  .ArticleToCStep_icon_circle{
    width: 9px;
    height: 9px;
    left: -4px;
    top: 6px;
  }
}

.ArticleToCStep_Level_H4, .ArticleToCStep_Level_H5, .ArticleToCStep_Level_H6 {
  .ArticleToCStep_icon::before{
    top: 0px;
    height: 8px;
  }
  .ArticleToCStep_icon::after{
    top: 13px;
    height: 7px;
  }
  .ArticleToCStep_icon_circle{
    width: 5px;
    height: 5px;
    left: -2px;
    top: 8px;
  }
}

.ArticleToCStep.active{
  label{
    font-weight: bold;
  }
  .ArticleToCStep_icon_circle {
    background-color: var(--dark);
  }
}

.ArticleToCStep.start .ArticleToCStep_icon::before {
  display: none;
}
.ArticleToCStep.end .ArticleToCStep_icon::after {
  display: none;
}

.ArticleToCStep.hermeneutics{
  color: var(--primary-dark);
}

.ArticleCellAccordion{
  // border-top: 1px solid var(--dark);
  color: var(--primary-dark);
  min-height: 1px;
}

.ArticleCellAccordion_button{
  border-top: 1px solid var(--primary-dark);
}


.ArticleTextShadow{
  position: fixed;
  top: 0;
  overflow: scroll;
  z-index: 2;
}
.ArticleTextShadow_mask{
  position: fixed;
  top: 0;
  z-index: 2;
  height: 100px;
  width: 100%;
}
