.Pointer{
  position: absolute;
}

.Stack_Pointer{
  span{
    background: var(--dark);
    color: var(--white);
  }
  margin-top: var(--negative-spacer-3);
  margin-left: var(--spacer-3);
  max-width: 200px;
  white-space: nowrap;
}


.NotebookViewer_loading{
  height: 3px;
  background-color: var(--secondary);
  transition: opacity 2s ease-in-out;
}

.NotebookViewer_loadingPercentage {
  transition: opacity 2s ease-in-out;
  margin-left: 0px;
  font-weight: bold;
  font-size: small;
  color: var(--secondary);
  display: inline-block;
  padding: 0 var(--spacer-1);
}
