// Override variables
@import 'variables';

// Boostrap scss
@import '~bootstrap/scss/bootstrap';
:root {
  --transition: 0.3s ease-in-out;
  --border-color: rgba(255, 255, 255, 0.5);
  --modal-z-index: 90;
  --modal-close-z-index: 91;
  --dark: #{map-get($theme-colors, 'dark')};
  --accent: #{map-get($theme-colors, 'accent')};
  --secondary-rgb: #{map-get($theme-colors, 'secondary')};
  --yellow: #FFEE88;
  --yellowcrayola: #FFE787;
  --pink: #FFCAD4;
  --snow: #FFF3F0;
  --linen: #FEEFE5;
  --bittersweet: #FF6B6B;
  --peachpuff: #fee1c7;
  --capri: #48BEFF;
  --almond: #F0DCCA;
  @each $bp, $value in $grays {
    --gray-#{$bp}: #{$value};
  }
  @each $bp, $value in $spacers {
    --spacer-#{$bp}: #{$value};
  }
  @each $bp, $value in $spacers {
    --negative-spacer-#{$bp}: #{-$value};
  }
  @each $bp, $value in $container-max-widths {
    --#{$bp}: #{$value};
  }
  --font-family-serif: #{$font-family-serif};
  --font-size-1: #{$font-size-base};
  --font-size-2: #{$font-size-base * 1.25};
  --font-size-3: #{$font-size-base * 1.5};
  --font-size-4: #{$font-size-base * 2};
  --font-size-5: #{$font-size-base * 2.5};
  --line-height-1: #{$font-size-base * 1.75};
  --line-height-1-m: #{$font-size-base * (1.5 / 2)};
  --line-height-5: #{$font-size-base * 2.5 * 1.25};
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@each $bp, $value in $grays {
  .bg-gray-#{$bp} {
    background-color: #{$value};
  }
}

.navbar-light .navbar-brand{
  font-family: var(--font-family-sans-serif);
  font-size: .9rem;
  font-weight: bold;
  color: var(--dark);
}

.btn-link{
   margin: 0;
   padding: 0;
   border: 0;
   background: transparent;
   line-height: inherit;
   color: $dark;
   text-decoration: none;

   box-shadow: 0px 1px 0px black;
   &:hover{
     text-decoration: none;
     box-shadow: 0px 1px 0px var(--primary);
   }
}

.rounded{
  border-radius: .25rem !important;
}
.pill{
  border-radius: 50% !important;
}
.navbar .nav-link{
  font-size: .9rem;
  color: white;
    box-shadow: none;
}
.navbar-brand{
  box-shadow: none;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
  box-shadow: 0px 1px 0px var(--primary);
}

.nav.nav-pills {
  & > .nav-item > .nav-link{
    box-shadow: none;
    border-radius: 5rem;
    background-color: transparent;
    margin: 0 0.5rem;
    will-change: background-color;
    transition: background-color .3s ease-in;
    &:hover{
      color: var(--dark);
    }
    &.active{
      color: var(--dark);
      font-weight: bold;
      background-color: var(--primary);
    }
  }
}

body{
  background-color: var(--gray-100);
  color: var(--dark);
  // ths transition should be the same as components/headers.scss
  transition: background-color 1s ease-in-out;
}
body.noscroll{
  overflow: hidden;
}
main{
  // padding-top: 10rem;
}
a{
  color: inherit;
  box-shadow: 0px 1px 0px var(--secondary);
  &:hover{
    text-decoration: none;
    box-shadow: 0px 1px 0px var(--primary);
  }
}
a.btn{
  box-shadow:none;
}
.serif{
  font-family: var(--font-family-serif);
}
.monospace{
  font-family: var(--font-family-monospace);
}

.page{
  h1, h2, h3{
    font-family: var(--font-family-monospace);
    font-weight: bold;
  }
  h2{
    font-size: 1.2rem;
    line-height: 1.5;
  }
  h3{
    line-height: 1.75;
  }
  h3, h4{
    font-size: inherit;
    display: inline-block;
    font-weight: bold;
    // border-bottom: 1px solid;
  }
}


code{
  background-color:  var(--gray-300);
  color: #A61C3C ;
}
blockquote.code{
  padding: var(--spacer-2);
  padding-left: var(--spacer-3);
  background-color: var(--gray-200);
  pre{
    margin:0;
    white-space: pre-wrap;
  }
}

.progressiveHeading{
  position: relative;
}

.progressiveHeading:before{
  counter-increment: progressiveHeading;                   /* Increment the value of section counter by 1 */
  content: counter(progressiveHeading);
  margin-right: var(--spacer-2);
  padding-left: var(--spacer-1);
  padding-right: var(--spacer-1);
  border-bottom: 1px solid;
}

.page{
  counter-reset: progressiveHeading;
}

@media (min-width: 768px) {
  .page{
    padding-top: 100px;
    padding-bottom: var(--spacer-5);
    h2 {
      font-size: 1.8rem
    }
  }

  .progressiveHeading:before{
    position: absolute;
    left: -1.5rem;
    border: 1px solid;
    padding: 0;
    margin-top: 5px;
    width: var(--spacer-3);
    height: var(--spacer-3);
    line-height: var(--spacer-3);
    text-align: center;
    border-radius: var(--spacer-3);
  }
}

.generic-list-item{
  position: absolute;
  will-change: transform, height, opacity;
  width: 100%;
}
.animate-height{
  will-change: height;
  transition: height .5s ease-in-out;
  overflow: hidden;
}
.animate-transform{
  will-change: transform;
  transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		// box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(2);
		// box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.55);
		// box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.pulse {
  animation: pulse .6s step-start 0s infinite;
  -webkit-animation: pulse .6s step-start 0s infinite;
}
.grecaptcha-badge { visibility: hidden; }

.pointer-events-none{
  pointer-events: none;
}
.pointer-events-auto{
  pointer-events: auto;
}

// override background only
.hljs {
  background-color: var(--dark) !important;
}
.hljs-string, .hljs-title, .hljs-name, .hljs-type, .hljs-attribute, .hljs-symbol, .hljs-bullet, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable{
  color: var(--yellowcrayola) !important;
}
.hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-section, .hljs-link{
  color: var(--capri) !important;
}

.anchor{
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}

.rotating {
  animation: rotate 2s linear infinite;
}

// import styles scss named after their folder name in components/
@import 'article';
@import 'graphics';
@import 'module';

// import 'highlight.js/styles/dracula.css'
@import 'highlight.js/styles/dracula.css';
