.TrendLine_circle {
  stroke: var(--secondary);
  fill: transparent;
  &.active{
    fill: var(--secondary);
  }
}

.TrendLine_circleFocused {
  stroke: var(--dark);
  stroke-width: 2;
  fill: transparent;
}

.StackGraph_layer path{
  will-change: fill;
  transition: fill .3s ease-in;
  // stroke: var(--white);
  &:hover{
    z-index:100;
    fill: var(--dark) !important;
    opacity: 1;
  }
  pointer-events:all;
}
