.TrendLine_circle {
  stroke: var(--secondary);
  fill: transparent;
  &.active{
    fill: var(--secondary);
  }
}

.TrendLine_circleFocused {
  stroke: var(--dark);
  stroke-width: 2;
  fill: transparent;
}

.TrendLine_pointer{
  z-index: 2;
}

.TrendLine_activeStep p{
  margin: 0;
  padding: var(--spacer-1) var(--spacer-2);
  border: 1px solid var(--gray-800);
  background-color: var(--gray-200);
  border-radius: var(--spacer-1);
  z-index: 1;
}

.StackGraph_layer path{
  will-change: fill;
  transition: fill .3s ease-in;
  // stroke: var(--white);
  &:hover{
    z-index:100;
    fill: var(--dark) !important;
    opacity: 1;
  }
  pointer-events:all;
}

.ImageWrapper_figcaption_num,
.ArticleFigure_figcaption_num {
  position: absolute;
  left: var(--negative-spacer-6);
  width: var(--spacer-6);
  font-family: var(--font-family-monospace);
  font-weight: bold;
}
