.TrendLine_circle {
  stroke: var(--secondary);
  fill: transparent;
  &.active{
    fill: var(--secondary);
  }
}

.TrendLine_circleFocused {
  fill: var(--dark);
}
.TrendLine_circleFocused.active{
  fill: var(--primary);
  stroke: var(--dark);
}

.TrendLine_pointer{
  z-index: 2;
}

.TrendLine_activeStep p{
  margin: 0;
  padding: var(--spacer-1) var(--spacer-2);
  border: 1px solid var(--gray-800);
  background-color: var(--gray-200);
  border-radius: var(--spacer-1);
  z-index: 1;
}


.TrendLine_highlight {
  font-family: var(--font-family-monospace);
  pointer-events: none;
  left: 0;
  top: 0;

  .TrendLine_highlight_num{
    position: absolute;
    font-size: 14px;
    top: -25px;
    left: -10px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
  }
}
.TrendLine_highlight.active .TrendLine_highlight_num{
  background-color: var(--dark);
  color: white;
  border-radius: 5px;
}

.StackGraph_layer path{
  will-change: fill;
  transition: fill .3s ease-in;
  // stroke: var(--white);
  &:hover{
    z-index:100;
    fill: var(--dark) !important;
    opacity: 1;
  }
  pointer-events:all;
}

.ImageWrapper_figcaption_num,
.ArticleFigure_figcaption_num {
  position: absolute;
  left: var(--negative-spacer-6);
  width: var(--spacer-6);
  font-family: var(--font-family-monospace);
  font-weight: bold;
}
