.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  border-radius: 32px;
  box-sizing: border-box;
  height: var(--space-size-7);
}
