.dropdown-menu {
  display: flex;
  align-items: center;
  height: var(--space-size-5);
  background: var(--color-white);
  border-radius: 16px;
  position: relative;
  width: 180px;
  font-family: 'DM Sans', sans-serif;
}

.dropdown-label {
  margin-bottom: var(--space-size-0);
  font-size: var(--text-size-2);
}

.dropdown-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 8px;
  padding: 0rem var(--space-size-1);
  background: var(--color-white);
  color: var(--color-deep-blue);
  min-height: 40px;
  transition: border 0.2s;
  width: 100%;
}

.dropdown-selected span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-selected:focus {
  border: 1.5px solid var(--color-accent);
  color: var(--color-accent);
}

.dropdown-icon {
  margin-left: 8px;
}

.dropdown-list {
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  padding: 0;

  background: var(--color-white);
  border-radius: 16px;
  box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 1);
}

.dropdown-option {
  padding: var(--space-size-1) var(--space-size-1-1);
  font-weight: 500;
  transition: background 0.2s;

  color: var(--color-deep-blue);
  background: var(--color-white);

  cursor: pointer;
  border-radius: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-option:hover {
  background: var(--color-accent-lighter);
  color: var(--color-deep-blue);
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}
