.search-bar {
  @media screen and (max-width: 1200px) {
    width: 180px;
  }
}

.search-input-frame {
  display: flex;
  align-items: center;
  gap: 8px;

  height: var(--space-size-5);
  padding: 0 8px;
  margin-right: var(--gap-size-3);

  border: none;
  border-radius: 32px;
  color: var(--color-deep-blue);
  background: var(--color-white);

  @media screen and (max-width: 1200px) {
    margin: 0;
  }
}

.search-input {
  background: transparent;
  border: none;
  font-size: var(--text-size-3);
  color: var(--color-deep-blue);
  outline: none;
}

.search-input::placeholder {
  font-family: 'DM Sans', sans-serif;
  color: var(--color-deep-blue);
  opacity: 0.8;
  font-size: var(--text-size-3);
}
