.search-input-frame {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 40px;
  padding: 0 8px;
  margin-right: var(--gap-size-3);

  border: none;
  color: var(--color-deep-blue);
  background: var(--color-accent-lighter);
  border-radius: 32px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.search-input {
  background: transparent;
  border: none;
  font-size: var(--text-size-3);
  color: var(--color-deep-blue);
  outline: none;
}

.search-input::placeholder {
  color: var(--color-deep-blue);
  opacity: 0.8;
  font-size: var(--text-size-2);
}
