$module: ".ArticleCell";

#{$module} {
  &.hermeneutics {
    .container {
      margin-right: 8rem;

      .row > * {
        background-color: var(--hermeneutics-layer);
      }
    }
  }

  &.data {
    .container-fluid {
      padding-left: calc(50vw - var(--container-max-width) / 3);
      padding-right: 4rem;

      .row {
        --bs-gutter-x: 0;

        background-color: var(--data-layer);
        color: var(--bs-white);
        padding: 0.5rem 0 0.5rem 0.5rem;

        .btn {
          transition: all 0.5s;
        }

        .code { 
          .CodeMirror {
            height: auto;
            background: linear-gradient(180deg, #232145 0%, #261B38 100%) !important;

            .CodeMirror-scroll { 
              min-height: 200px 
            }
          }
        }

      }
    }
  }
}