$module: ".ArticleCellFigure";

#{$module} {

  margin-bottom: 0;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  .picture {
    position: relative;
    overflow-x: auto;
    text-align: center;

    img {
      height: 100%;
      background-color: white;
      max-width: unset;
    }

    &.with-aspect-ratio {
      img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  figcaption {
    min-height: unset;

    p {
      margin-bottom: 0;
      padding: 0;
    }
  }

  &.table {
    --bs-table-bg: transparent;
    --bs-table-color: none;

    .row > * {
      padding: 0;
    }
    table{
      border-radius: 5px;
      color: var(--dark);
      padding: 0;
      border-collapse: separate !important;
    }
  }

  

  .ArticleCellDataTable{
    border-radius: 5px;
    background-color: rgba(248, 249, 250, 1);
    color: var(--dark);
    overflow-x: auto;
    table{
      padding: 0;
      border-collapse: collapse !important;
    } 
  }
  .ArticleCellDataTable__pagination .form-select{
    width: 150px;
    padding: 0 0 0 10px;
  }
}