$module: ".ArticleCellOutput";

#{$module} {

  &_execute_result {
    img {
      max-width: 100%;
    }
  }

  &.withHTML {
    overflow: auto;

    table {
      width: max-content;

      td {
        max-width: 300px;
      }
    }
  }
}

