.card {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: fit-content;
  min-width: 200px;
  padding: 24px;
  font-family: 'Fira Sans', monospace;

  background: var(--color-white);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
