.card {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  height: 100%;
  min-height: 200px;
  box-sizing: border-box;
  position: relative;
  padding: 0 var(--gap-size-4) var(--gap-size-4);
  color: var(--color-deep-blue);
  background: var(--color-white);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-size-2);
}

.card-header-title {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-size-1);
}

.card.card-loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-error {
  width: 90%;
}

@media screen and (min-width: 3000px) {
  .card {
    width: 2500px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    padding: 0 var(--gap-size-2) var(--gap-size-2);
  }

  .with-filter {
    margin-top: var(--navbar-height-mobile);
  }
}
