.timeline-container {
  position: relative;
  width: 95%;
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 0%;
  right: 2%;
  height: 1px;
  background: var(--color-gray);
  z-index: 0;
}
.timeline-line.rejected {
  background: var(--color-gray-lighter-2);
}

.timeline-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.timeline-list.rejected {
  color: var(--color-gray-lighter-2);
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 32px;
  width: 18px;
  height: 18px;
}

.timeline-done {
  color: var(--color-success);
}
.timeline-error {
  color: var(--color-error);
}
.timeline-pending {
  color: var(--color-warning);
}
