.timeline-container {
  position: relative;
  width: 100%;
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 0%;
  right: 5%;
  height: 1px;
  background: var(--color-dark);
  z-index: 0;
}

.timeline-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 32px;
  width: 18px;
  height: 18px;
}

.timeline-done,
.timeline-error,
.timeline-pending {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 48;
}
.timeline-done {
  color: var(--color-success);
}
.timeline-error {
  color: var(--color-error);
}
.timeline-pending {
  color: var(--color-warning);
}
.timeline-todo {
  color: var(--color-dark);
  font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 48;
}
