.timeline-container {
  position: relative;
  width: 95%;
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 0%;
  right: 2%;
  height: 1px;
  background: var(--color-dark);
  z-index: 0;
}

.timeline-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 32px;
  width: 18px;
  height: 18px;
}

.timeline-done,
.timeline-error,
.timeline-pending {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
}
.timeline-done {
  color: var(--color-success);
}
.timeline-error {
  color: var(--color-error);
}
.timeline-pending {
  color: var(--color-warning);
}
.timeline-todo {
  color: var(--color-dark);
  font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48;
}

.simple-status-container {
  display: none;
}

/* Mobile view */
@media screen and (max-width: 767px) {
  .timeline-container {
    display: none;
  }

  .simple-status-container {
    display: block;
  }

  .status-fancy-badge {
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px solid var(--color-dark);
    border-radius: 16px;
    padding: var(--space-size-0) var(--space-size-0);
  }
  .status-fancy-badge.draft {
    background-color: #cadcf9;
    color: #3b82f6;
    border-color: #3b82f6;
  }
  .status-fancy-badge.technical_review {
    background-color: #c7c3f0;
    color: #4338ca;
    border-color: #4338ca;
  }
  .status-fancy-badge.peer_review {
    background-color: #b3e3f8;
    color: #3b82f6;
    border-color: #3b82f6;
  }
  .status-fancy-badge.published {
    background-color: lightgrey;
    color: grey;
    border-color: grey;
  }
  .status-fancy-badge.design_review {
    background-color: #dbfff8;
    color: #5eead4;
    border-color: #5eead4;
  }
}
