.ArticleCellRunCodeButton {
  --bs-btn-disabled-opacity: 0.8;
  --status-error: red;
  --status-success: green;
  color: var(--white);
}

.ArticleCellRunCodeButton > button {
  box-shadow: rgba(200, 200, 211, 0.2) 0px 7px 29px 0px;
  will-change: box-shadow;
}
.ArticleCellRunCodeButton.success > button {
  box-shadow: rgba(81, 246, 224, 0.2) 0px 7px 29px 0px;
}
.ArticleCellRunCodeButton.error > button {
  box-shadow: rgba(255, 0, 0, 0.2) 0px 7px 29px 0px;
}
.ArticleCellRunCodeButton.executing > button {
  animation: ArticleCellRunCodeButton__boxShadow 2.5s infinite;
}

.ArticleCellRunCodeButton__timer {
  color: var(--white);
  opacity: 0.8;
  font-size: 0.7rem;
  line-height: 0.7rem;
  width: 50px;
  text-align: center;
  will-change: opacity;
  transform: opacity 0.3s;
}

.ArticleCellRunCodeButton.success .ArticleCellRunCodeButton__timer {
  opacity: 1;
}

.ArticleCellRunCodeButton.idle .ArticleCellRunCodeButton__timer {
  display: none;
}

.ArticleCellRunCodeButton button {
  border-radius: 100px;
  padding: var(--spacer-1) var(--spacer-3) var(--spacer-1) var(--spacer-1);
}

.ArticleCellRunCodeButton__status {
  color: var(--white);
  opacity: 0.8;
}
.ArticleCellRunCodeButton__iconWrapper {
  background: transparent;
  border-radius: 26px;
  width: 26px;
  height: 26px;
  position: relative;
}
.ArticleCellRunCodeButton__iconWrapper .CircularLoading {
  display: none;
}

.ArticleCellRunCodeButton__iconWrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border: 2px dashed transparent;
  border-radius: 50%;
}

.ArticleCellRunCodeButton.scheduled .ArticleCellRunCodeButton__iconWrapper::after,
.ArticleCellRunCodeButton.beforeExecuting .ArticleCellRunCodeButton__iconWrapper::after {
  border: 2px dashed var(--white);
  animation: rotate 4s linear infinite;
}

.ArticleCellRunCodeButton.executing .ArticleCellRunCodeButton__iconWrapper .CircularLoading {
  display: block;
}
.ArticleCellRunCodeButton.stopping .ArticleCellRunCodeButton__iconWrapper::after {
  border: 2px dashed var(--white);
  animation: rotate 24s linear infinite;
}
.ArticleCellRunCodeButton.success button:hover .ArticleCellRunCodeButton__iconWrapper::after {
  border: 2px solid var(--dark);
}

.ArticleCellRunCodeButton.success .ArticleCellRunCodeButton__iconWrapper::after {
  border: 2px solid var(--primary);
}

/* .ArticleCellRunCodeButton.executing .ArticleCellRunCodeButton__iconWrapper svg {
  animation: rotate 2s linear infinite;
} */

.ArticleCellRunCodeButton.error .ArticleCellRunCodeButton__iconWrapper {
  background: var(--status-error);
}
.ArticleCellRunCodeButton.error {
  border-color: var(--status-error) !important;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-reverse {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes ArticleCellRunCodeButton__boxShadow {
  0% {
    box-shadow: rgba(200, 200, 211, 0.2) 0px 7px 29px 0px;
  }
  50% {
    box-shadow: rgba(200, 200, 211, 0.4) 0px 7px 30px 0px;
  }
  100% {
    box-shadow: rgba(200, 200, 211, 0.2) 0px 7px 29px 0px;
  }
}

.ArticleCellRunCodeButton__iconWrapper svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
