.homereel-newArticles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacer-3);
  margin-right: var(--spacer-5);
}

@media screen and (max-width: 767px) {
  .homereel-newArticles {
    flex-direction: column;
    gap: var(--spacer-4);
  }
}
