.container-newArticle {
  --card-width: 400px;
  --card-width-mobile: 320px;
  --card-height: 150px;

  width: var(--card-width);
  height: var(--card-height);

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  border: 1px solid var(--accent);
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  overflow: visible;
  cursor: pointer;
}

.container-newArticle::after {
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: 0.8em;
  content: 'new';
  color: var(--white);
  text-transform: uppercase;
  padding: 2px 8px;
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--accent);
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.container-newArticle-fingerprint {
  display: flex;
  align-items: center;
}

.container-newArticle-text {
  margin-left: var(--card-height);
  margin-top: var(--spacer-1);
  padding: var(--spacer-2);
}

.separator {
  padding-left: var(--spacer-1);
  padding-right: var(--spacer-1);
}

.container-newArticle-text > p {
  font-size: 0.75em;
}

.container-newArticle-text > h4 {
  padding-top: var(--spacer-3);
  font-family: var(--bs-body-font-family);
  font-weight: 700;
  font-size: 0.9em;

  width: 80%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  .container-newArticle {
    width: var(--card-width-mobile);
    /* margin-left: var(--spacer-4); */
  }

  .container-newArticle-text {
    padding: 0;
  }

  .container-newArticle-text > p {
    font-size: 0.8em;
    line-height: 1.2;
  }

  .container-newArticle-text > h4 {
    font-family: var(--bs-body-font-family);
    font-weight: 700;
    font-size: 0.9em;

    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 4;

    line-height: 1.4;
  }
}
