.homereel-newArticles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--spacer-3);
}

@media screen and (max-width: 767px) {
  .homereel-newArticles {
    flex-direction: column;
    gap: var(--spacer-4);
  }
}
