.filter-bar {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: var(--gap-size-2);

  position: sticky;
  height: var(--filter-bar-height);
  width: 100%;

  margin-left: -10px;
  /* margin-bottom: var(--space-size-2); */
  padding: var(--gap-size-2) 0;
  padding-left: 20px;
  padding-bottom: var(--space-size-4);

  top: 0;
  z-index: 100;

  background: var(--color-background);
}

.filter-label {
  color: var(--color-deep-blue);
  font-size: var(--font-size-2);
}
