.filter-bar {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: var(--gap-size-2);

  position: sticky;
  height: var(--filter-bar-height);
  width: 100%;

  margin-left: -10px;
  padding: var(--gap-size-2) 0;
  padding-left: 20px;
  padding-bottom: var(--space-size-4);

  top: 0;
  z-index: 100;

  background: var(--color-background);
}

.filter-label {
  color: var(--color-deep-blue);
  font-size: var(--font-size-2);
}

@media screen and (max-width: 1200px) {
  .filter-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-size-1);
    width: 20%;
    padding-bottom: 0;
  }
}
