/* For Mobile view of the Articles page */

.status-fancy-badge {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 16px;
  padding: var(--space-size-0) var(--space-size-0);
}

/* For Substatuses in KPI peer review Home Page */

.status-fancy-badge.pending,
.status-fancy-badge.declined,
.status-fancy-badge.accepted,
.status-fancy-badge.submitted,
.status-fancy-badge.confirmed,
.status-fancy-badge.cancelled,
.status-fancy-badge.resent,
.status-fancy-badge.viewed,
.status-fancy-badge.thanked {
  border-radius: 5px;
  background-color: #e2e4ec;
  color: #637198;
  /* border: 1px solid; */
  border-color: #637198;
  font-family: 'Fira Sans', sans-serif;
  margin: var(--space-size-0);
}

.status-fancy-badge > span {
  margin-left: var(--space-size-0);
}

.status-fancy-badge.overdue {
  border-radius: 5px;
  background-color: #fae5d8;
  color: #cd7434;
  /* border: 1px solid; */
  border-color: #cd7434;
  font-family: 'Fira Sans', sans-serif;
}
