.abstract-submission-form {
  max-width: 50%;  
  margin-left: 17%;
  margin-right: 17%;
  
  @media (max-width: 768px) {
    max-width: 100%;
    margin-left:5%;
    margin-right:5%;
  }
}
.submission-form{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.final-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.submit-button-group {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1010px) {
    flex-direction: column;
    gap: 2rem;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.submit-btn {
  margin-left: 2rem;
}

.submit-btn,
.download-json-btn {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;

  @media (max-width: 1010px) {
    width: 300px;
    margin-left: 0px;
    font-size: 1.3rem;
  }
}
