.AbstractSubmissionCallForPapers_reel {
  color: var(--accent);

  label {
    font-weight: bold;
  }
}
.AbstractSubmissionCallForPapers_reel {
  background-color: var(--accent);
  border-radius: 5px;
  padding: 1px;
  margin: 0;
}

.AbstractSubmissionCallForPapers_cfp {
  background: var(--gray-100);
  border-radius: 3px;
  margin: 1px;
  padding: 10px;
  margin-bottom: 3px;
}

.AbstractSubmissionCallForPapers .dropdown-menu {
  border: 1px solid var(--accent);
  border-radius: 5px;
  background: var(--gray-100);
  padding: var(--spacer-1);
  margin-top: 2px;

  .dropdown-item {
    color: var(--accent);
    border: 0px transparent;
    box-shadow: none;
    padding: var(--spacer-1);
    background-color: transparent;
  }
  .dropdown-item > span {
    padding: var(--spacer-1);
    border-radius: 3px;
  }
  .dropdown-item.active {
    background-color: transparent;
    border: solid 1px var(--accent);
    border-radius: 3px;
  }
  .dropdown-item:hover > span,
  .dropdown-item.active:hover > span {
    color: var(--white);
    background-color: var(--accent);
    border-radius: 3px;
  }
  .dropdown-item.active:hover {
    background-color: var(--accent);
  }
}
.AbstractSubmissionCallForPapers .dropdown.show > button {
  box-shadow: none;
}
