.list-item {
  display: flex;
  align-items: top;
  margin-bottom: 0.5rem;
  padding: 8px;
  border: 1px solid var(--bs-dark);
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.form-control::placeholder {
  color: lightgray;
  font-style: italic;
}

.action-buttons {
  flex-shrink: 1;
}

.fields-area {
    width: 100%;
    margin-top: 0.5rem;
}


.tooltip-icon {
  display: inline-block;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.tooltip-icon:hover::after {
  font-family: 'Fira Sans', sans-serif;
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-20%);
  background-color: var(--dark);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 10;
}
