.submission-status-card {
  position: fixed;
  top: 500px;
  right: 0px; 
  margin: 0;
  padding: 2.5rem 1.5rem 2.5rem 1.25rem; 
}

.submission-status-title {
  margin: 0 0 1.5rem 1rem;
  font-size: large;
  font-weight: 700;
}

.container{
  margin-bottom: 1rem;
}

.submission-status-list {
  position: relative;
  padding-left: 0;
  list-style: none;
}

.submission-status-list li {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 10px;
  font-size: 16px;
  line-height: 3em;
}

.submission-status-list li::before {
  content: '';
  position: absolute;
  left: 21px; // Align with the icons
  top: 0;
  bottom: 0;
  width: 1.2px;
  background-color: black;
  z-index: -1;
}

.material-symbols-outlined {
  z-index: 1;
  margin-right: 0.5rem;
}

.round-icon {
  position: absolute;
  left: 12px;
  width: 16px;
  height: 17px;
  background-color: #f8f9fa;
  border-radius: 50%;
  margin-top: 1px;
  z-index: 0;
}

.submission-status-list li:first-child::before {
  top: 50%;
}

.submission-status-list li:last-child::before {
  bottom: 50%;
}

@media (max-width: 968px) {
  .submission-status-card {
    display: none;
  }
}
