.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-side-menu{
  flex: 0 0 25%;
  max-width: 25%;
}

.container-summary{
  flex: 0 0 75%;
  max-width: 75%;
}

.side-menu {
  position: fixed;
  top: 150px;
}

/* Side menu styles */
.side-menu a {
  font-size: 1.2rem;
  padding: 5px 10px;
  display: block;
}

.side-menu a.active {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.side-menu a:hover {
  color: none;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.button-group button {
  margin-left: 10px;
}

.call-for-papers {
  margin-top: 1.5rem;
}

.authors, .datasets, .repository {
  margin-top: 3rem;
}

.column {
  flex: 0 0 50%;
  max-width: 50%;
}

.list-unstyled {
  position: absolute;
}

.author-name {
  font-size: large;
  font-weight: bold;
}

.info-section p {
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

/* Reset the counter only once at the parent container level */
#datasets {
  counter-reset: progressiveHeading 0;
}

.info-section.progressiveHeading::before {
  counter-increment: progressiveHeading;
  content: counter(progressiveHeading) ' ';
  font-weight: bold;
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .side-menu {
    display: none;
  }
}

@media (max-width: 768px) { 
  .authors .datasets .row {
    display: flex;
    flex-direction: column;
  }
  .authors .datasets .column {
    flex: 0 0 100%; 
    max-width: 100%;
  }
  .info-section p {
    margin-bottom: 0.5rem;
    word-wrap: break-word;   
  }
  .container-side-menu{
    display: none;
  }
  .container-summary{
   box-sizing: content-box;
   margin-top: 2rem;
  }
}