.submission-status-card {
  position: fixed;
  top: 20vh;
  height: min-content;
  right: 0px;
  padding: 2.5rem 1.5rem 2.5rem 1.25rem;
  margin-right: 20vw;
  box-sizing: border-box;

  @media (max-height: 250px) {
    display: none;
  }
}

.submission-status-title {
  margin: 0 0 1.5rem 1rem;
  font-size: large;
  font-weight: 700;
}

.container {
  margin-bottom: 1rem;
}

.submission-status-list {
  position: relative;
  padding-left: 0;
  list-style: none;
}

.submission-status-list {
  li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;
    font-size: 16px;
    line-height: 2em;
  }
  .icon-label {
    margin-bottom: 13px;
  }
}

.submission-status-list li::before {
  content: '';
  position: absolute;
  left: 21px; // Align with the icons
  top: 0;
  bottom: 0;
  width: 1.2px;
  background-color: black;
  z-index: -1;
}

.icon-container {
  font-variation-settings: 'wght' 700, 'GRAD' 0, 'opsz' 48;

  &.error {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
    color: var(--error);
  }

  &.filled {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
  }

  &.outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  }

  .material-symbols-outlined {
    color: inherit;
  }
}

.material-symbols-outlined {
  position: relative;
  z-index: 1;
  margin-right: 0.5rem;
}

.round-icon {
  position: absolute;
  left: 14px;
  width: 17px;
  height: 18px;
  background-color: #f8f9fa;
  border-radius: 100%;
  top: 9px;
  z-index: 0;
}

.submission-status-list li:first-child::before {
  top: 50%;
}

.submission-status-list li:last-child::before {
  bottom: 50%;
}

@media (max-width: 1100px) {
  .submission-status-card {
    display: none;
  }
}
