.month-title {
  margin-bottom: var(--spacer-2);
}

.month-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid var(--dark);
  width: var(--month-container-width);
  padding: 0 var(--spacer-1);
  gap: var(--spacer-2);
}

.month-container {
  --month-container-width: 12vw;
  --month-container-width-nothing: 0.5vw;
  --month-container-tablet-width: 15vw;
  --month-container-mobile-width: 35vw;

  width: var(--month-container-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-container.disabled,
.month-card.disabled {
  width: var(--month-container-width-nothing);
  gap: 0;
  padding: 0;
}

.month-card.disabled {
  border-top: 0.05px solid var(--dark);
}

.month-title.disabled {
  color: transparent;
}

/* Mobile view */
@media screen and (max-width: 767px) {
  .milestone-facets > p {
    display: none;
  }

  .month-container,
  .month-card {
    width: var(--month-container-mobile-width);
  }
}

/* Tablet view */
@media screen and (min-width: 767px) and (max-width: 1200px) {
  .milestone-facets > p {
    display: none;
  }
  .month-container,
  .month-card {
    width: var(--month-container-tablet-width);
  }
}

/* Large screen view */
@media screen and (min-width: 2200px) {
  .milestone-wrapper {
    margin-left: -30%;
  }
}
