.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;

  color: var(--color-white);

  font-weight: bold;
  font-size: var(--text-size-4);

  cursor: pointer;
  user-select: none;
}
