/* Navbar container */
.navbar {
  width: var(--navbar-width);
  min-height: 600px;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 16 px;
  font-family: 'Fira Sans', monospace;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Optional: space between logo and text */
}

/* Header */
.navbar-header {
  display: flex;
  align-items: center;
  width: var(--navbar-header-width);
  padding: 6.5% 10%;
}

.navbar-header p {
  margin: 0;
  font-weight: bold;
  font-size: 1.1em;
  color: var(--color-dark);
}

/* List styles */
.navbar ul {
  list-style: none;
  padding: 2% 15%;
  margin: 0;
}

.navbar-link {
  display: flex;
  align-items: center;
}

/* List item styles */
.navbar li {
  display: flex;
  align-items: center;
  height: var(--space-size-5);
  margin: 2% 0%;
  position: relative; /* Needed for ::before accent line */
}

.navbar li.active {
  background-color: var(--color-accent);
  color: var(--color-white);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: var(--navbar-header-width);
  margin-left: -50px;
}

.navbar li.active .navbar-link {
  margin-left: 50px;
}

/* Link styles */
.navbar a {
  color: var(--color-dark);
  text-decoration: none;
  transition: color 0.2s;
}

/* Icon styles */
.navbar-icons {
  margin-right: 12px;
  font-size: 24px;
  color: var(--color-dark);
  font-variation-settings: 'FILL' 0;
  transition:
    color 0.2s,
    font-variation-settings 0.2s;
}

/* Active, hover, and focus states for both icon and link */
.navbar li:hover .navbar-icons,
.navbar li:focus-within .navbar-icons,
.navbar li:hover a,
.navbar li:focus-within a {
  color: var(--color-accent);
  font-variation-settings: 'FILL' 1;
}
.navbar li.active .navbar-icons,
.navbar li.active a {
  color: var(--color-white);
  font-variation-settings: 'FILL' 1;
}

/* Responsive navbar for smaller viewport */
@media (max-width: 1400px) {
  .navbar {
    width: var(--navbar-width-mobile);
  }

  .navbar-header p {
    display: none;
  }
  .navbar-header {
    width: 25%;
    padding: 6%;
    margin-left: var(--space-size-0);
    margin-top: var(--space-size-0);
  }

  .navbar ul {
    padding: 5px;
  }

  .navbar li {
    justify-content: center;
    margin: 20% 0;
  }
  .navbar li.active {
    width: var(--navbar-width-mobile-active);
  }

  .navbar-icons {
    font-size: 28px;
  }

  .navbar-labels {
    display: none;
  }
}
