.accordeon-card {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  height: 100%;
  min-height: var(--space-size-4);
  box-sizing: border-box;
  position: relative;
  padding: var(--space-size-2) var(--space-size-4);
  color: var(--color-deep-blue);
  background: var(--color-white);
}

.accordeon-title {
  margin: var(--space-size-1) 0 var(--space-size-2) 0;
}

.accordeon-icon {
  margin: var(--space-size-2) var(--space-size-6);
}

.accordeon-card .table {
  table-layout: fixed;
  width: 100%;
}

.accordeon-card .table th.pid {
  width: 30% !important;
}

.accordeon-card .table th.status {
  width: 30% !important;
}

/* Exception:  Override sticky header in accordion tables */
.accordeon-card .table th {
  position: static;
  top: auto;
  background: none;
  z-index: auto;
}
