.home-barchart {
  width: var(--KPI-standard-width);
  height: var(--KPI-standard-height);
}

.barchart-title {
  margin: 0;
}

.barchart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.barchart-header-text {
  flex-direction: 0;
}
