.barchart-title {
  margin: 0;
}

.barchart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.barchart-header-text {
  flex-direction: 0;
}

.article-and-advance-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
