.barchart-title {
  margin: 0;
}

.barchart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.barchart-header-text {
  flex-direction: 0;
}

.article-and-advance-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-width: 0;
}

.article-chart-wrap {
  flex: 1 1 auto;
  min-width: 0;
}

.advance-chart-wrap {
  flex: 0 0 70px;
}

p {
  font-weight: 400;
}
