.month-container {
  --month-container-width: 15vw;

  width: var(--month-container-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-title {
  margin-bottom: var(--spacer-2);
}

.month-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid var(--dark);
  width: var(--month-container-width);
  padding: 0 var(--spacer-1);
  gap: var(--spacer-2);
}

/* FILTERS */
.milestone-filter {
  display: flex;
  justify-content: space-between;
}

.milestone-facets {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  font-size: 1em;

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  .Facets_dimensionHeading {
    display: none;
  }
  .DimensionGroupListItem,
  .milestone-btn-all {
    color: var(--dark-grey);
    background-color: transparent;
    border: 1px solid var(--dark-grey);
    margin: var(--spacer-1);
    padding: 1px 8px;
    border-radius: 4px;
    display: flex;

    &:hover {
      background-color: var(--dark-grey);
      color: white;
    }

    &.active {
      background-color: var(--dark-grey);
      color: white;
    }
  }
  .DimensionGroupListItem.Articles {
    --item-color: var(--grey);
  }
  .DimensionGroupListItem.CallforPapers {
    --item-color: var(--green);
  }
  .DimensionGroupListItem.Conferences {
    --item-color: var(--purple);
  }
  .DimensionGroupListItem.Releases {
    --item-color: var(--blue);
  }

  .DimensionGroupListItem {
    color: var(--item-color);
    border: 1px solid var(--item-color);

    &:hover {
      background-color: var(--item-color);
    }
  }

  .DimensionGroupListItem.active {
    background-color: var(--item-color);
  }

  .DimensionGroupListItem_label {
    cursor: pointer;
  }
}

.milestone-dropdown {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* TIMELINE */
.milestone-timeline {
  display: flex;
  gap: var(--spacer-2);
}

/* EVENTS */
.event-card {
  display: flex;
  position: relative;
  z-index: 1;
  background: var(--white);
  border: 1px solid var(--dark);
  border-radius: 10px;
  padding: var(--spacer-2);
  margin-top: var(--spacer-3);
  padding-left: 25px;
}

.event-content::before {
  content: '';
  position: absolute;
  left: var(--spacer-2);
  top: var(--spacer-2);
  bottom: var(--spacer-2);
  border-left: 3px solid grey;
  z-index: 2;
}

.event-content {
  color: var(--dark-grey);
  font-family: 'Fira Sans';
  line-height: 16px;
}

.event-text {
  font-size: 12px;
  font-weight: 600;
}

.event-date {
  font-size: 11px;
  font-weight: 400;
}
