.ArticleHeader{
  height: 90vh;
  background: var(--gray-900);
}

.ArticleHeader h1{
  color: var(--white);
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1;
}

.ArticleHeader h2{
  color: var(--gray-200);
  font-size: 1.25em;
  line-height: 1.5;
}

.Author{
  color: var(--gray-200);
}