.breadcrumb {
  margin-left: var(--navbar-width);
  margin-top: var(--gap-size-3);
  margin-bottom: var(--gap-size-3);
  display: flex;
  align-items: center;
  padding: 0% 2%;
}

.breadcrumb {
  color: var(--color-deep-blue);
  font-size: var(--text-size-4);
}
.breadcrumb a {
  color: var(--color-accent);
  text-decoration: none;
}
.breadcrumb span {
  display: flex;
  align-items: center;
}

@media (max-width: 1400px) {
  .breadcrumb {
    margin-left: var(--navbar-width-mobile);
  }
}
