.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  font-size: var(--font-size-2);
  text-align: left;
  vertical-align: top;
  padding-right: var(--gap-size-3);
}

.table th {
  padding-bottom: var(--gap-size-1);
  color: var(--color-gray);
  font-weight: 600;
  font-size: var(--font-size-3);
}

.header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.table td {
  color: var(--color-gray);
  padding-top: var(--gap-size-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

/* Remove ellipse text for actions-cell */
td.actions-cell {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  position: static;
}

.table tr {
  vertical-align: top;
}

.table tbody tr:hover {
  background-color: var(--color-hover);
}

.status-cell {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

th.status-header {
  width: 2%;
}

th.title,
th.abstract__title {
  width: 20%;

  @media screen and (min-width: 2500px) {
    width: 40%;
  }
}

/*TODO: rename abstract__title by article___title and title by abstract_title */
td.name,
& td.title,
& td.abstract__title {
  font-weight: 600;
}

td.actions-cell {
  margin-left: 5px;
  text-align: center;
}

/* Specific padding for folder_name (callforpapers), repository_url(articles), and orcid_icon cells */
td.folder_name,
td.repository_url,
td.orcid {
  padding-top: var(--gap-size-1);
  width: 1%;
}
