/* TABLE STYLES */
.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  font-size: var(--text-size-2);
  text-align: left;
  vertical-align: top;
  padding-right: var(--gap-size-3);
}

/* ROW STYLES */
.table tr {
  vertical-align: top;
}

.table tbody tr:hover {
  background-color: var(--color-hover);
}

/* HEADER STYLES */
.table th {
  padding-bottom: var(--gap-size-3);
  color: var(--color-gray);
  font-weight: 600;
  font-size: var(--text-size-3);
}

.table.abstracts th,
.table.articles th {
  padding-top: var(--gap-size-4);
  position: sticky;
  top: var(--table-headers-top-position);
  background: var(--color-white);
  z-index: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table.abstracts {
  th {
    width: 10%;
  }
  th.checkbox-header {
    width: 5%;
  }
  th.pid {
    width: 10%;
  }
  th.title {
    width: 40%;
  }
  th.callpaper_title {
    width: 10%;
  }
}

table.articles {
  th.abstract__contact_firstname,
  th.abstract__contact_lastname {
    width: 20%;
  }
  th.checkbox-header,
  th.repository_url {
    width: 15%;
  }

  th.pid,
  th.abstract__pid {
    width: 15%;
  }
  th.abstract__title {
    width: 70%;
  }
  th.status-header {
    padding-right: 0;
    width: 5%;
  }
  th.actions-cell {
    width: 5%;
  }

  td.repository_url {
    width: 15%;
  }

  @media screen and (min-width: 1400px) {
    th.abstract__contact_firstname,
    th.abstract__contact_lastname {
      width: 100px;
    }
  }
  @media screen and (max-width: 1200px) {
    th.abstract__contact_firstname,
    th.abstract__contact_lastname {
      width: 5%;
    }
  }
}

th.title,
th.abstract__title {
  @media screen and (min-width: 2000px) {
    width: 700px;
  }
  @media screen and (min-width: 3000px) {
    width: 1200px;
  }
}

th.contact_affiliation {
  @media screen and (min-width: 2000px) {
    width: 300px;
  }
}

th.header.url {
  width: 25%;
}

/* CELL STYLES */
.table td {
  color: var(--color-gray);
  padding-top: var(--gap-size-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

/* Remove ellipse text*/
td.actions-cell,
td.repository_url {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  position: static;
}
td.status {
  padding-right: 0;
}

.status-cell {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

/*TODO: rename abstract__title by article___title and title by abstract_title */
td.name,
& td.title,
& td.abstract__title {
  font-weight: 600;
}

td.actions-cell {
  margin-left: 5px;
  text-align: center;
}

/* Specific padding for folder_name (callforpapers), repository_url(articles), and orcid_icon cells */
td.folder_name,
td.repository_url,
td.orcid {
  padding-top: var(--gap-size-1);
  width: 1%;
}

/* Exception for Callforpapers table */
table.callforpapers td,
table.callforpapers th {
  width: auto;
}
