/* TABLE STYLES */
.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  font-size: var(--text-size-2);
  text-align: left;
  vertical-align: top;
  padding-right: var(--gap-size-3);
}

/* ROW STYLES */
.table tr {
  vertical-align: top;
}

.table tbody tr:hover {
  background-color: var(--color-hover);
}

/* HEADER STYLES */
.table th {
  padding-bottom: var(--gap-size-3);
  color: var(--color-gray);
  font-weight: 600;
  font-size: var(--text-size-3);
}

.table.abstracts th,
.table.articles th {
  padding-top: var(--gap-size-4);
  position: sticky;
  top: var(--table-headers-top-position);
  background: var(--color-white);
  z-index: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (max-width: 767px) {
    position: static;
  }
}

table.abstracts {
  th {
    width: 10%;
  }
  th.checkbox-header {
    width: 5%;
  }
  th.pid {
    width: 10%;
  }
  th.title {
    width: 20%;
  }
  th.callpaper_title {
    width: 10%;
  }
  /* Tablet or small screen  view */
  @media screen and (max-width: 1200px) {
    tr th.pid,
    tr td.pid,
    tr th.callpaper_title,
    tr td.callpaper_title,
    tr th.contact_affiliation,
    tr td.contact_affiliation {
      display: none;
    }
    td.title {
      width: 80%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      word-wrap: break-word;

      line-height: 1.4;
    }

    td.submitted_date,
    th.submitted_date {
      width: 15%;
    }

    td.author,
    th.author {
      width: 15%;
      text-wrap: initial;
      word-wrap: break-word;
    }

    td.status,
    th.status {
      width: 15%;
      text-wrap: initial;
      word-wrap: break-word;
    }
  }
  /* Mobile view */
  @media screen and (max-width: 767px) {
    tr th.submitted_date,
    tr td.submitted_date,
    tr th.author,
    tr td.author {
      display: none;
    }
  }
}

table.articles {
  th.publication_date {
    width: 20%;
  }
  th.checkbox-header {
    width: 5%;
  }
  th.pid,
  th.abstract__pid {
    width: 15%;
  }
  th.abstract__title {
    width: 20%;
  }
  th.status-header {
    padding-right: 0;
    width: 5%;
  }
  th.actions-cell {
    width: 5%;
  }
  th.author {
    width: 20%;
  }

  .article-header-mobile {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    tr th.abstract__pid,
    tr td.abstract__pid {
      display: none;
    }

    th.status-header {
      padding-right: 0;
      width: 4%;
    }

    td.abstract__title {
      width: 90%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      word-wrap: break-word;

      line-height: 1.4;
    }

    th.author,
    td.author {
      width: 15%;
      text-wrap: initial;
      word-wrap: break-word;
    }
    th.publication_date {
      width: 15%;
    }
  }
  /* Mobile view */
  @media screen and (max-width: 767px) {
    tr th.publication_date,
    tr td.publication_date,
    tr th.author,
    tr td.author {
      display: none;
    }

    th.article-header-mobile,
    td.status {
      width: 20%;
    }

    .status-header {
      display: none;
    }
    .article-header-mobile {
      display: table-cell;
    }
  }
}

th.title,
th.abstract__title {
  @media screen and (min-width: 2000px) {
    width: 700px;
  }
  @media screen and (min-width: 3000px) {
    width: 1200px;
  }
}

th.contact_affiliation {
  @media screen and (min-width: 2000px) {
    width: 300px;
  }
}

th.header.url {
  width: 25%;
}

/* CELL STYLES */
.table td {
  color: var(--color-gray);
  padding-top: var(--gap-size-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

/* Remove ellipse text*/
td.actions-cell,
td.repository_url {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  position: static;
}
td.status {
  padding-right: 0;
}

.status-cell {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

/*TODO: rename abstract__title by article___title and title by abstract_title */
td.name,
& td.title,
& td.abstract__title {
  font-weight: 600;
}

td.actions-cell {
  padding-left: var(--gap-size-2);
  text-align: center;
}

/* Specific padding for folder_name (callforpapers), repository_url(articles), and orcid_icon cells */
td.folder_name,
td.repository_url,
td.orcid {
  padding-top: var(--gap-size-1);
  width: 1%;
}

/* Exception for Callforpapers table */
table.callforpapers td,
table.callforpapers th {
  width: auto;
}
