.authors.page {
  display: grid;
  gap: var(--space-size-2);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'f f f f f'
    'c c p b .'
    'c c d d d'
    'c c i i i'
    'c c . . .';
}

.chart {
  background-color: var(--color-white);
  height: 450px;
}

.filter-bar {
  grid-area: f;
}
.authors.card {
  grid-area: c;
}
.authors.piechart {
  grid-area: p;
  position: sticky;
  top: calc(var(--top-bar-height) + var(--space-size-1));
}
.authors.barchart {
  grid-area: b;
  position: sticky;
  top: calc(var(--top-bar-height) + var(--space-size-1));
}
.card-author-contribution {
  grid-area: d;
  position: sticky;
  background-color: var(--color-white);
  border-radius: 16px;
  top: calc(var(--KPI-standard-height) + 110px);
}
.author-contribution {
  grid-area: i;
  position: sticky;
  background-color: var(--color-white);
  top: calc(var(--KPI-standard-height) + 310px);
}

.table.authors th {
  position: sticky;
  top: var(--top-bar-height);
  background: var(--color-white);
  z-index: 5;
  padding: var(--space-size-3) 0;
}

.article-outlined,
.abstract-outlined {
  color: var(--color-deep-blue);
}
