.authors.page {
  display: grid;
  gap: var(--space-size-2);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'c c p .'
    'c c . .'
    'c c . .';
}

.authors.card {
  grid-area: c;
}
.authors.piechart {
  grid-area: p;
}

.table.authors th {
  position: sticky;
  top: var(--top-bar-height);
  background: var(--color-white);
  z-index: 5;
  padding: var(--space-size-3) 0;
}
