.card-info {
  grid-area: i;
}
.card-link {
  grid-area: l;
}
.card-abstract {
  grid-area: a;
  background-color: var(--color-white);
}
.card-contact {
  grid-area: c;
}

.detail-grid {
  color: var(--color-deep-blue);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'i i c'
    'a a l'
    'a a .'
    'a a .';
  gap: var(--gap-size-4);
  padding: var(--space-size-1);
}

.card-info {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  justify-content: space-between;
}

/* FieldRow css */
.item {
  display: flex;
  justify-content: space-between;
}

.label {
  text-align: left;
  min-width: 150px;
  font-weight: bold;
}

.value {
  flex-grow: 1;
}

.value:hover i {
  text-decoration: underline;
}

h2 {
  margin: 0 0 var(--space-size-3) 0;
}

/* RESPONSIVE */

@media (min-width: 2000px) {
  .detail-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'i c .'
      'a a l'
      'a a .'
      'a a .';
  }
}

@media (max-width: 1800px) {
  .detail-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'l c'
      'i i'
      'a a'
      'a a';
  }
}

@media (max-width: 1200px) {
  .detail-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      ' l '
      ' c '
      ' i '
      ' a '
      ' a ';
  }
  .card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* CONTACT */

.contact-header {
  display: flex;
  align-items: start;
  gap: var(--gap-size-0);
}
.link-button-orcid {
  border: 0;
  cursor: pointer;
}
.link-button-orcid img {
  height: 18px;
}
a {
  color: inherit;
}
