.chart {
  background-color: var(--color-white);
  height: 450px;
}

h1 {
  margin-bottom: var(--space-size-4);
}
h2 {
  padding: 0;
  margin: 0;
}
h3 {
  margin-top: 0;
}
p {
  margin-top: 0;
}

.home-counter-row {
  grid-area: c;
  display: flex;
  flex-direction: row;
  gap: var(--gap-size-2);
}

.home-abstract-card {
  grid-area: a;
}
.home-piechart {
  grid-area: p;
}
.home-barchart {
  grid-area: b;
  width: 100%;
  min-width: 0;
}
.home-peerreviewchart-simple {
  grid-area: rs;
  height: fit-content;
}
.home-peerreviewchart {
  grid-area: r;
  height: fit-content;
}
.home-peerreviewchart-next-table {
  grid-area: n;
  height: fit-content;
}

.home-grid {
  display: grid;
  gap: var(--space-size-2);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'c c c c'
    'p b . .'
    'rs r r n';
}

.home-grid.isAbstract {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'c c c c'
    'p b a a'
    'rs r n n'
    '. . . .';
}

@media (min-width: 3000px) {
  .home-grid.isAbstract {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      'c c c c c'
      'p b a a a'
      'rs r r n n ';
  }
}

/* Tablet or small screen view */
@media (max-width: 1500px) {
  .home-grid.isAbstract {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
      'c c'
      'p b'
      'a a'
      'rs r'
      'n n';
  }
  .chart {
    height: fit-content;
  }
}

/* Mobile view */
@media screen and (max-width: 767px) {
  .home-grid.isAbstract {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'c'
      'p'
      'b'
      'a'
      'rs'
      'r'
      'n';
  }
  .home-grid {
    display: flex;
    flex-direction: column;
    gap: var(--space-size-2);
  }
  .home-counter-row {
    flex-direction: column;
  }
}

/* ABSTRACT CARD  */
.home-abstract-card-header {
  display: flex;
  align-items: center;
  gap: var(--space-size-2);
}
.home-abstract-card-title {
  margin-left: var(--space-size-2);
}
