.chart {
  background-color: var(--color-white);
  height: 400px;
}

h1 {
  margin-bottom: var(--space-size-4);
}
h3 {
  margin-top: 0;
}
p {
  margin-top: 0;
}

.home-abstract-card {
  grid-area: a;
}
.home-piechart {
  grid-area: p;
}
.home-barchart {
  grid-area: b;
}

.home-grid {
  display: grid;
  gap: var(--space-size-2);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'b p .'
    '. . .';
}

.home-grid.warning {
  grid-template-areas:
    'a a b p'
    '. . . .';
}

@media (max-width: 1200px) {
  .home-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'a'
      'p'
      'b';
  }
}

.home-abstract-card {
  background-color: var(--color-warning-light);
  border: 2px solid var(--color-warning) !important;
}
.home-abstract-card-title {
  margin-left: var(--space-size-3);
}
