.home-piechart {
  background-color: var(--color-white);
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  margin-bottom: var(--space-size-4);
}

h3 {
  margin-top: 0;
}
