.chart {
  background-color: var(--color-white);
  height: fit-content;
}

h1 {
  margin-bottom: var(--space-size-4);
}

h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-size-2);
}

@media (min-width: 1600px) {
  .home-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 978px) {
  .home-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
