.chart {
  background-color: var(--color-white);
  height: fit-content;
}

h1 {
  margin-bottom: var(--space-size-4);
}
h2 {
  margin-left: var(--space-size-3);
}
h3 {
  margin-top: 0;
}
p {
  margin-top: 0;
}

.home-abstract-card {
  grid-area: a;
}
.home-piechart {
  grid-area: p;
}
.home-barchart {
  grid-area: b;
}

.home-grid {
  display: grid;
  grid: auto-flow dense / repeat(4, 1fr);
  /* grid-template-columns: repeat(3, 1fr); */
  gap: var(--space-size-2);
  grid-template-areas:
    'a a . .'
    'p b . .';
}

@media (min-width: 1600px) {
  .home-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 978px) {
  .home-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'a'
      'p'
      'b';
  }
}

.home-abstract-card {
  background-color: var(--color-warning-light);
  border: 2px solid var(--color-warning) !important;
}
