.page {
  margin-left: var(--navbar-width);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0% 2%;
}

.empty-space {
  height: var(--filter-bar-height);
  padding-bottom: var(--space-size-4);
}

@media (max-width: 1400px) {
  .page {
    margin-left: var(--navbar-width-mobile);
  }
}
