.page {
  margin-left: var(--navbar-width);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0% 2%;
}

@media (max-width: 1400px) {
  .page {
    margin-left: var(--navbar-width-mobile);
  }
}
