.PercentLoader_loadingBar {
  background-color: #222322;
  background-color: var(--secondary);
  height: 3px;
  transition: opacity 2s ease-in-out;
}

.PercentLoader_loadingPercentage {
  color: #222322;
  color: var(--secondary);
  display: inline-block;
  font-size: small;
  font-weight: 700;
  margin-left: 0;
  padding: 0 0.25rem;
  padding: 0 var(--spacer-1);
  transition: opacity 2s ease-in-out;
}
