.card {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  flex: 1;
  min-width: 200px;
  padding: 24px;
  font-family: 'Fira Sans', monospace;

  /* background: rgba(255, 255, 255, 0.25); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
}
